<%- include('./partials/header'); %>
<main class="admin">
    <div class="container">
        <h1>Painel Administrativo</h1>
        <a href="/admin/servicos"> voltar para lista de serviços</a>
        <% if(typeof servico !== 'undefined') { %>
        <form action="/admin/servicos/editar/<%= servico.id %>/?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <fieldset>
                <legend>Editar Serviço</legend>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="<%= servico.nome %>" required>

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao"><%= servico.descricao %></textarea>

                <label for="preco">Preço</label>
                <input type="number" name="preco" id="preco" value="<%= servico.preco %>">

                <label for="ilustracao">Ilustração</label>

                <% if(servico.ilustracao) { %>
                <img src="/uploads/<%= servico.ilustracao %>">
                <% } %>

                <input type="file" name="ilustracao" id="ilustracao">

                <button type="submit" class="btn btn-primary">Enviar</button>
            </fieldset>
        </form>
        <% } %>
    </div>
</main>
<%- include('./partials/footer'); %>